<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Search books</title>
</head>
<body>
    <h1>Search books</h1>
    <%- include("./partials/returnHomeBtn.ejs", {msg: 'Home'}) %>
    <form action="/search" method="GET">
        <input type="text" name="search_query" placeholder="Search book's' name" value="<%-searched_query%>">
        <button type="submit">Search</button>
    </form>
    <% if (searched_query) { %> 
        <span>Searching for "<strong><%=searched_query%></strong>" with <%- listOfBooks.length %> result(s)</span> 
                    <%- include("./partials/renderListOfBooks.ejs", {listOfBooks: listOfBooks}) %>
    <% }   %>
        </ul>

</body>
</html>