<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Categories</title>
</head>
<body>
    <h1>All categories</h1>
            <%- include("./partials/returnHomeBtn.ejs") %>
    <h2>All book genres</h2>
<form action="categories/add" method="post">
    <input type="text" name="genre_to_add"placeholder="Add genre"> 
    <button type="submit">Add</button>
</form>
    <ul class="genres-container">
        <% genres.forEach((genre) =>{ %>
            <li>
                <a href=<%=`/categories?genre=${genre.name}`%> class="nav">
                        <%= genre.name %>
                </a>
             </li>
        <%})%>
    </ul>
    <% if (searchedGenre) { %> 
        <a href=<%= `/categories?genre=${searchedGenre}&delete=true` %>>delete btn</a>
        <%- include("./partials/renderListOfBooks.ejs", {listOfBooks:  booksMatchingGenre}) %>
    <%}%>

</body>
</html>