<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title><%= book.title %> by <%= `${book.author_first_name} ${book.author_last_name}`%> </title>
</head>
<body>

    <h1 class="book-header">
        <span class="book-title"><%= book.title %></span> by
        <span class="book-author"><%= `${book.author_first_name} ${book.author_last_name}`%> </span>
    </h1>
        <%- include("./partials/returnHomeBtn.ejs", {msg: 'Go back'}) %>
    <table class="book-table">
        <tr class="book-table-headers">
            <th class="book-table-header">Genre</th>
            <th class="book-table-header">Published Year</th>
            <th class="book-table-header">Publisher</th>
            <th class="book-table-header">Edition</th>
        </tr>
        <tr class="book-table-rows">
            <td class="book-table-value">
                <a href="/categories?genre=<%=genre %>" class="nav"><%= genre %></a>
            </td>
            <td class="book-table-value"><%= book.year_published %></td>
            <td class="book-table-value"><%= book.publisher %></td>
            <td class="book-table-value"><%= book.edition %></td>
        </tr>
    </table>
    <div class="action-btns">
        <a href="delete" class="nav delete" >Delete Book!</a>
        <a href="edit" class="nav">Edit Book!</a>
    </div>
</body>
</html>