<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title><%= book.title %> by <%= book.author_first_name + ' ' + book.author_last_name%> </title>
</head>
<body>
    <h1 class="book-title"><%= book.title %></h1>
    <div class="book-author"> <%= book.author_first_name + ' ' + book.author_last_name%> </div>
    <ul class="book-details-container">
        <li class="book-genre">Genre:
                <a href="/categories?genre=<%=genre %>" class="nav"><%= genre %></a>
        </li>
        <li class="book-publish-year">Year: <%= book.year_published %></li>
        <li class="book-publisher">Publisher: <%= book.publisher %></li>
        <li class="book-edition">Edition: <%= book.edition %></li>
    </ul>
    <a href="delete" class="nav delete" >Delete Book!</a>
</body>
</html>